* {
    border: solid 1px red;
}



#father {
    display: flex;
    justify-content: space-between;
    padding-left: 50px; padding-right: 50px;
}
#shuhan {
    border: 5px solid rgb(156, 106, 202);
    box-shadow: 10px 10px 10px blueviolet;
    background-color: rgb(229, 173, 106);
    padding: 20px;

   display: flex;
   flex-direction: column;
   align-items: center;
}

#ruhan {
    border: 5px solid rgb(94, 193, 223);
    background-color: rgb(179, 238, 107); /* Assuming you want a background here too */
    padding: 20px;
     box-shadow: 10px 10px 10px blueviolet;
display: flex;
flex-direction: column ;
align-items: center;
}

}
#ruhan {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 20px;
}

.shuhan {
    border: 2px solid;
}
.ruhan {
    border: 2px solid;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(108, 195, 211);
    padding: 10px;
}
header img {
    width: 40px; height: 40px;
}
#nav {
    display: flex;
}
ul {
    list-style: none; gap: 25px;
    text-decoration: underline;
}